@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@font-face {
    font-family:Sansdm;
    src: url('DMSans-Regular.ttf');
}  
*{
    font-family: "DM Sans";
}
a{
    text-decoration: none;
}
a:active, 
a:hover, 
a {
  text-decoration: none;
  color: #171718;
}
.container{
    width: 1140px; 
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav{
    display: flex;
    width: 259px;
    height: 27px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 20px;
}
.nav a {
    color: #FFFFFF !important;
}
.link__active{
    border-bottom: 3px solid #5C62EC;
}
.name{
    display: flex;
    justify-content: center;
    background-color: #171718;
    color: white;
    width: 100%;
    height: 700px;
}
.name2{
    display: flex;
    justify-content: center;
    /* width: 628px; */
    height: 628px;
    flex-direction: column;
    align-items: center;
    background-image: url("./header-bg.png");

}
.header{
    background-color: #171718;
}
.logo{
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 24px;
}
.name2 p strong{
    font-size: 60px;
}
.name2 p strong span{
    color: #5C62EC;
}
.frontend{
    font-size: 40px;
}
.passion{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.rectangle{
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
align-items: center;
width: 160px;
height: 48px;
background: #5C62EC;
border: 1px solid rgba(0, 0, 0, 0.41);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
color: #FFFFFF;
}
.projects{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto 70px;
    max-width: 1170px;
}
.project{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    height: 350px;
    font-family:"DM Sans";
    font-size: 24px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: black;

}

.project img{
    border-radius: 10px;
    object-fit: cover;
}

.project__title{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
    color: #5C62EC;
}
.project__name{
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
}
.footer{
    display: flex;
    color: black;
    max-width: 1920px;
    height: 200px;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
@media (max-width: 1190px) {
    .projects{
        max-width: 800px;
    }
}
@media (max-width: 800px) {
    .projects{
        max-width: 380px;
    }
}
