<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rusloid Corp.</title>
    <link rel="shortcut icon" href="./H548448635e7949c8b810e7e486e6d86dL-removebg-preview.png">
    <link rel="stylesheet" href="{{url_for('static',filename='css/geniusprojeect.css')}}">
</head>
<body>
    <header class="header";>
        <div class="container">
            <div class="logo">    
                <strong> Freelancer </strong> portfolio
            </div>
            <div class="nav">
                <div class="link__active">
                    <a href="/">
                    Projects
                    </a>
                </div>
                <div>
                    <a href="/skills">
                    Skills
                    </a>
                </div>
                <div>
                    <a href="/contacts">
                    Contacts
                    </a>
                </div>
            </div>
        </div>
    </header>        
    <main>
        <div class="name" >
            <div class = "name2">
                <p> <strong> Hi, my name is <span>Ruslan</span></strong></p>
                <p class="frontend">a frontend developer</p>
                <p class="passion">with passion for learning and creating.</p>
                <div class ="rectangle"><p class="rectangle_text " >Download CV</p></div>
            </div>      
        </div>
        <div class="bel">
            <h1 class="project__title">Projects</h1>
            <div class="projects">
                <div class="project">
                    <a href="./landing">
                    <img src="{{url_for('static',filename='img/Hero.png')}}" alt='Проект'>
                    <h3 class="project__name">Travel landing</h3>
                    </a>
                </div>
                <div class="project">
                    <a href="./genius3">
                     <img src="{{url_for('static',filename='img/02.jpg')}}" alt='Проект'>
                    <h3 class="project__name">  Video service</h3>
                </a>
                </div>
                <div class="project">
                    <a href="./genius4">
                    <img src="{{url_for('static',filename='img/03.jpg')}}" alt='Проект'>
                    <h3 class="project__name">Video portal</h3>
                </a>
                </div>
                <div class="project">
                    <a href="./genius5">
                   <img src="{{url_for('static',filename='img/04.jpg')}}" alt='Проект'>
                    <h3 class="project__name"> Dating app</h3>
                </a>
                </div>
                <div class="project">
                    <a href="./genius6">
                    <img src="{{url_for('static',filename='img/05.jpg')}}" alt='Проект'>
                    <h3 class="project__name" >Landing</h3>
                </a>
                </div>
                <div class="project">
                    <a href="./genius7">
                    <img src="{{url_for('static',filename='img/06.jpg')}}" alt='Проект'>
                    <h3 class="project__name">Gaming community</h3>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="social">
            <div class="social__link">
                <a href="https://vk.com/rusloidus">
               <img src="{{url_for('static',filename='img/Vector.png')}}" alt='Проект'>
                </a>
            </div>
            <div class="social__link">
                <img src="{{url_for('static',filename='img/Vector (1).png')}}" alt='Проект'>
            </div>
            <div class="social__link">
                <img src="{{url_for('static',filename='img/Vector (2).png')}}" alt='Проект'>
            </div>
            <div class="social__link">
                <img src="{{url_for('static',filename='img/Vector (3).png')}}" alt='Проект'>
            </div>
            <div class="social__link">
                <img src="{{url_for('static',filename='img/Vector (4).png')}}" alt='Проект'>
            </div>
        </div>
    </footer>
</body>
</html>     