<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burning Man</title>
    <link rel="shortcut icon" href="./Icon.png">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <header class="header";>
                <div class="hero">
                    <div class="hero__header">
                        <div class="nav__logo"> 
                            <div class="logo">
                                <img src="./pictures/logo.png">
                            </div>
                            <div class="nav">
                                <div class = 'nav__item'> 
                                    <a href="#" class="nav__link">HOME</a>
                                </div>
                                <div class = 'nav__item'> 
                                    <a href="#" class="nav__link">ABOUT</a>
                                </div>
                                <div class = 'nav__item'> 
                                    <a href="#" class="nav__link">TICKETS</a>
                                </div>
                                <div class = 'nav__item'> 
                                    <a href="#" class="nav__link">CONTACTS</a>
                                </div>
                            </div>
                        </div>
                        <div class = 'number'> 
                            <a href="#" class="nav__link">+1 893 839-23-64</a>
                        </div>
                    </div>
                    <div class="offer">
                        <div class="hero__title">
                            <h2>NOT THE EVENT. THE LIFE</h2>
                        </div>
                        <div class="hero__description">
                            <h1>BURNING MAN </h1>
                        </div>
                        <div class="offer__img">
                            <img src="./pictures/Group 1.png" alt="">
                        </div>
                    </div>
                </div>   
            </div>
         </div>
    </div>   
    </header>
    <main> 
       <div class="about">
            <div class="about__title">
                ABOUT THE EVENT
            </div>
            <div class="main__about">
                <div class="about1">
                    <div class="about__name">
                        Rebuilding the society
                    </div>
                    <div class="about__description">
                        Burning Man is a network of people inspired by the values reflected in the Ten Principles and united in the pursuit of a more creative and connected existence in the world. Throughout the year we work to build Black Rock City, home of the largest annual Burning Man gathering, and nurture the distinctive culture emerging from that experience. 
                    </div>
                </div>
                <div class="about1">
                    <div class="about__name">
                        This drives us
                    </div>
                    <div class="about__description">
                        Burning Man Project will bring experiences to people in grand, awe-inspiring and joyful ways that lift the human spirit, address social problems, and inspire a sense of culture, community, and civic engagement. Burning Man provides infrastructural tools and frameworks to support local communities in applying the Ten Principles through six interconnected program areas, including Arts, Civic Involvement, Culture, Education, Philosophical Center, and Social Enterprise.
                    </div>
                </div>
            </div>
            <div class="image">
                <img class="image1" src="./pictures/img1.png" alt="">
                <img class="image2" src="./pictures/img2.jpg" alt="">
                <img class="image3" src="./pictures/img3.jpg" alt="">
            </div>
       </div>   
    </main>
    <footer>
        <div class="footer__text">
            ©1989-2023 burning man project
        </div>
    </footer>
</body>