{% extends 'project16.html' %}

{% block cont %}<div class="skills__container">
            <h1 class="skills__title">Skills</h1>
            <div class="skill__item">
                <h2>Frontend</h2>
                <p>JavaScript, TypeScript, ReactJS, Angular, Redux, HTML, CSS, NPM, BootStrap, MaterialUI, Yarn, TailwindCSS, StyledComponents</p>
            </div>
            <div class="skill__item">
                <h2>Backend</h2>
                <p>NodeJS, MySQL, MongoDB, PHP, Laravel</p>
            </div>
        </div>{% endblock %}