{% extends 'project13.html' %}

{% block cont %}<div class="contacts__container">
            <h1 class="contacts__title">Contacts</h1>
            <div class="contacts__item">
                <h2>Location</h2>
                <p>Toronto, Canada</p>
            </div>
            <div class="contacts__item">
                <h2>Telegram / WhatsApp</h2>
                <p>+7 (978) 260-68-56</p>
            </div>
            <div class="contacts__item">
                <h2>Email</h2>
                <p>aikoxworld@gmail.com</p>
           </div>{% endblock %}